.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Message {
  color: black;
  border: solid lightgrey 1pt;
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  width: 30%;
  margin-left: 35%;
}

.MessageBar {
  display: flex;
  justify-content: space-between;
  color: black;
  border: solid lightgrey 1pt;
  margin: 15px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  width: 30%;
  margin-left: 35%;
}

.MessageBar #button{
  color: white;
  background-color:#EB4C68;
  border: none;
  margin: 1px;
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  align-self: flex-end;
}

.MessageBar input{
  border: none;
  width: 75%;
}

.MessageBar input:focus {
  outline: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
