.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Message {
  display: flex;
  color: black;
  border: solid lightgrey 1pt;
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  width: 30%;
  margin-left: 35%;

}

.Message button{
  margin-left: auto;
  margin-top: 2%;
  height: 100%;
  font-size: 20px;
}

.MessageBar {
  display: flex;
  justify-content: space-between;
  color: black;
  border: solid lightgrey 1pt;
  margin: 15px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  width: 30%;
  margin-left: 35%;
}

.MessageBar #button{
  color: white;
  background-color:#EB4C68;
  border: none;
  margin: 1px;
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  align-self: flex-end;
}

.MessageBar input{
  border: none;
  width: 75%;
}

.MessageBar input:focus {
  outline: none;
}

.Sign-In-Page{
  margin: 5% 20%;
  padding-top: 2%;
  background-image: url('https://ladder.to/static/media/login-sign-up.fb7f590e.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  font-size: 30px;
}

.Sign-In-Form {
  display: flex;
  flex-direction: column;
  width: 25%;
  flex-wrap: wrap;
  margin-left: 45%;
  padding: 10%;
}

.Sign-In-Form input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.Sign-In-Form #submit{
  background-color: #63CA69;
  color: white;
  border: none;
  font-size: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
